@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.roboto{
  font-size:18px;
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.lato{
  font-size:18px;
  font-family: 'Lato', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');

.rubik{
  font-size:18px;
  font-family: 'Rubik Gemstones', cursive;
}



@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Rubik+Gemstones&display=swap');

.alegreya{
  font-size:18px;
  font-family: 'Alegreya Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.open-sans{
  font-size:18px;
  font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.montserrat{
  font-size:18px;
  font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.lato{
  font-size:18px;
  font-family: 'Lato', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.source-sans-pro{
  font-size:18px;
  font-family: 'Source Sans Pro', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.raleway{
  font-size:18px;
  font-family: 'Raleway', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.ubuntu{
  font-size:18px;
  font-family: 'Ubuntu', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.pt-sans{
  font-size:18px;
  font-family: 'PT Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Droid+Sans&display=swap');
.droid-sans{
  font-size:18px;
  font-family: 'Droid Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.noto-sans{
  font-size:18px;
  font-family: 'Noto Sans', sans-serif;
}



/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #EDF9F9;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #DFF4F4;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #DFF4F4;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius:5px;
}

#contentbox{
  border-radius:5px;
}

.nav-link{
  border-radius:5px;
}

/* Estilo iOS */
.switch__container {
  
  width: 100px;
}

.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.switch--shadow + label {
  padding: 2px;
  width: 80px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
.switch--shadow + label:after {
  width: 32px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: #8ce196;
}
.switch--shadow:checked + label:after {
  transform: translateX(46px);
}

/* Estilo Flat */
.switch--flat + label {
  padding: 2px;
  width: 60px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}
.switch--flat + label:before,
.switch--flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
.switch--flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
.switch--flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 56px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
.switch--flat:checked + label {
  background-color: #8ce196;
}
.switch--flat:checked + label:after {
  margin-left: 60px;
  background-color: #8ce196;
}

.btn-premium{

  background-color:#fa8f44;
  color:#fff;
}

.housebutton{
  color:white;
}
.housebutton:hover{
  background-color:#EDF9F9;color:black;                
}
.inputstyle{
  color: #666;
  padding: .75em;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-color: var(--ast-border-color);
  border-radius: 2px;
  background: #fafafa;
  box-shadow: none;
  box-sizing: border-box;
  transition: all .2s linear;
}
#country-dropdown li {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
}

#country-dropdown li:hover {
  background-color: #f9f9f9;
}

#country-dropdown li:first-child {
  border-top: 1px solid #ccc;
}
#country-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#countrylist_birth {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#countrylist_birth li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#countrylist_birth li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#citylist_birth {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#citylist_birth li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#citylist_birth li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#countrylist_lovetest {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#countrylist_lovetest li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#countrylist_lovetest li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#citylist_lovetest {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#citylist_lovetest li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#citylist_lovetest li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#countrylist_lovetest {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#countrylist_silentlove li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#countrylist_silentlove li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#citylist_silentlove {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#citylist_silentlove li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#citylist_silentlove li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#countrylist_child  li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#countrylist_child  li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#citylist_child  {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#citylist_child  li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#citylist_child li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#countrylist_extendedchild  li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#countrylist_extendedchild  li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#citylist_extendedchild  {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#citylist_extendedchild  li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#citylist_extendedchild li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.table {

  height:500px;
}

#country-dropdown2 li {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
}

#country-dropdown2 li:hover {
  background-color: #f9f9f9;
}

#country-dropdown2 li:first-child {
  border-top: 1px solid #ccc;
}
#country-dropdown2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


#countrylist {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#countrylist li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#countrylist li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#citylist {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#citylist li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#citylist li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#citylist2 {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#citylist2 li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#citylist2 li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.listitem{
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  
}

.package-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.package-box:hover{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.package-header {
  background-color: #ccc;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.package-info {
  padding: 10px;
}
.package-feature {
  border: 1px solid lightgrey;
  padding: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.package-header {
  position: relative;
  padding: 10px;
  background-color:white!important;
}

.package-name-bar {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background-color: #FA8F44;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 5px 10px;
  transform: translateY(-50%);
  z-index: 1;
}

.package-image-container {
  position: relative;
  overflow: hidden;
  height: 150px;
  background-color: white;
}

.package-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.btn-premium{

  background-color:#fa8f44;
  color:#fff;
}

.horoclass {
  border: 2px solid transparent;
  cursor:pointer;
}

.inputclass{

  padding: .75em;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-color: var(--ast-border-color);
  border-radius: 2px;
  background: #fafafa;
  box-shadow: none;
  box-sizing: border-box;
  transition: all .2s linear;
}

.accordion-header{
  background-color:transparent!important;
}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 600px) {
  .tablinks {
    width:100%
  }
  .card{
    padding:5px;
  }
}

.inner-box{
  background-color:#93a8c3;
  border-radius:5px;
}